:root {
  --red: #a01a2f;
  --blue: #081C35;
  --ivory: #FBF5F3;
  --orange: #E28413;
  --dark-red: #62110d;
}

body {
  background-color: var(--ivory);
}

.tile {
  background-color: var(--red);
  color: var(--ivory);
  padding-top: 20px;
  margin: 20px;
  border-radius: 10px;
  height: 250px;
  border: 3px solid var(--dark-red);
}

.tile-show {
  background-color: var(--red);
  color: var(--ivory);
  padding-top: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 3px solid var(--dark-red);
}

.tile-image {
  border: 3px solid var(--dark-red);
  display: block;
  margin: 0 auto;
  max-width: 80%;
  max-height: 80%;
}

.tile-text {
  text-align: center;
}
.tile-container {
  margin: 30px;
}

.tile-reviews {
  background-color: var(--red);
  color: var(--ivory);
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
}

.review-tile {
  padding: 10px;
  border-bottom: 1px solid var(--blue);
}

.new_user {
  background-color: var(--ivory);
  padding: 20px
}

.sign_in {
  background-color: var(--ivory);
  padding: 20px
}

.new-restaurant-form {
  margin: 0 auto;
  padding: 50px;
  width: 75%;
  background-color: var(--red);
  color: var(--ivory);
  border-radius: 10px;
  border: 3px solid var(--dark-red);
}

.form-title {
  text-align: center;
}

.button {
  background-color: var(--orange);
  margin-top: 20px;
}

label {
  color: var(--ivory);
}

.flash-error {
  margin: 10px auto;
  text-align: center;
  border: 3px solid var(--blue);
  width: 75%;
  border-radius: 10px;
}

.flex-container {
  display: flex;
}

.screen-name {
  flex: 1;
  font-weight: bold;
}

.ratings {
  padding: 5px;
}

.review-body {
  overflow-wrap: anywhere;
  padding-left: 100px;
  padding-bottom: 20px;
  font-size: smaller;
}
